################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Net/obj/Debug/.NETFramework,Version=v4.5.AssemblyAttributes.cs
/Net/obj/Debug/MysqlT.csproj.AssemblyReference.cache
/Net/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Net/obj/Debug/.AssemblyReference.cache
